*{

    margin: 1px;
    padding: 1px;
   
    
}

.container{

    display: grid;
    height: 100vh;
    grid-template-columns: 0.2fr 0.7fr 0.7fr 0.7fr 0.7fr  ;
    grid-template-rows: 0.3fr 3.0fr 0.1fr 1.0fr  ;
    grid-template-areas: "sidebar nav nav1 nav2 nav3 "
                         "sidebar  main main main1 main1"  
                         "sidebar  conteudoTexto conteudoTexto conteudoTexto conteudoTexto"
                         "sidebar conteudo1 conteudo2 conteudo3 conteudo4 " 
                     ;
    grid-gap: 0.5em;
    background-color: lightgray;
    color: rgb(74, 27, 117);
 
}

#nav{

    
    background-color: lightblue;
    grid-area: nav;
    left: 100%;
    margin: 5px;
    background: rgb(74, 27, 117);
    height: 20px;
   padding: 18px;
   border-radius: 40px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   

}

.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: white;
    font-size: 16px;
    line-height: 40px;




}

.search-btn{

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(74, 27, 117);
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.search-box{

   position: absolute; 
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background:  rgb(74, 25, 121);
   height: 40px;
   padding: 18px;
   border-radius: 40px;
}

#nav1{

      
    grid-area: nav1;

}

#nav2{

   
    grid-area: nav2;

}

#nav3{

    
    grid-area: nav3;

}





#main{

   
    grid-area: main;
    margin-top: 50px;

    
    
}

    .titulo1{

        color: rgb(74, 27, 117) ;
        margin-top: 25px;
        margin-left: 500px;
        font-size: 25px;
    }

    .titulo{

        margin-right: 50px;
        font-size: 25px;
        margin-top: 8px;
    }

 #main1{


    grid-area: main1;
    margin-top: 65px;
    color: rgb(74, 27, 117);
    display: inline-block;
    
    
}


    .imgrelogio{

        width: 35px;
        margin-left: 50px;
        display: inline-block;
        
        float: left;
        padding-top: 20px;

    }

    .texto{

        font-size: 18px;
        margin: 50px;
    }

    .lapis{


        width: 35px;
        margin-left: 50px;
        display: inline-block;
        
        
    }

#sidebar{

    background-color:rgb(74, 27, 117);
    grid-area: sidebar;
   /* width: 150px;*/
    /*margin-left: auto;*/
    margin-right: 20px;

}

#conteudoTexto{

    
    grid-area: conteudoTexto;
    


}

#conteudo1{

    
    grid-area: conteudo1;

}

#conteudo2{

    
    grid-area: conteudo2;

}

#conteudo3{

    
    grid-area: conteudo3;

}

#conteudo4{

   
    grid-area: conteudo4;
    

}


